<!DOCTYPE html>
<html>

<head>

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN.
    This will create an anonymous function that inserts a
    script into the DOM -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start">
    </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>

<body>

    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="signInButton">
        <!-- data-scope specify what google resources we want to acces -->
        <!-- single host name means no subdomains -->
        <!-- data-approvalprompt="force" means  that our user has to login
        each time he visit the login page -->
        <!-- data-redirecturi="postmessage" - enables a one time
        use code flow -->
        <span class="g-signin"
                data-scope="openid email"
                data-clientid="773863118203-k7h0obkok5mg2uedu96p0hcbhpcepthv.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
        </span>
    </div>

<div id="result"></div>

<script>
// signInCallback() is a function that handles the response
// from Google API server. 'authResult' is a parameter for whatever
// is being passed(a JS object) when signInCallback() is being called.
// 'result' is a parameter used for whatever comes as a response from
// our server.
function signInCallback(authResult) {
    if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{ STATE }}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                    window.location.href = "/catalog";
                 }, 4000);

                } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
        } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
        });
    }
}
</script>
<!-- END GOOGLE PLUS SIGN IN -->


<!-- FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1739971122891948',
            cookie     : true,
            xfbml      : true,  //parse social plugins on this page
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    // Load the SDK asynchronously
    (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

// Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                     setTimeout(function() {
                        window.location.href = "/catalog";
                     }, 4000);

                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                }
            });
        });
    }
</script>

<button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
    <a href='javascript:sendTokenToServer()'>
        Login with Facebook
    </a>
    </fb:login-button>
</button>

<!--END FACEBOOK SIGN IN -->

</body>

</html>